@media screen and (max-width: 991px) {
  .navbar .nav-wrapper .nav-button-language-wrapper {
    pointer-events: none;
  }
  .navbar .nav-wrapper .nav-button-language-wrapper ._1gh-button-wrapper,
  .navbar .nav-wrapper .nav-button-language-wrapper .nav-language a {
    pointer-events: auto;
  }
  .navbar .nav-wrapper .nav-menu > div {
    overflow-x: hidden;
  }
}
textarea {
  resize: vertical;
}
body {
  overflow-x: hidden;
}
.nav-brand-logo-mobile.nav-light {
  color: unset;
  -webkit-text-fill-color: unset;
}
.navbar.--scrolled {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar.nav-light.--scrolled{
  background-color:white !important;
}
.navbar.nav-dark.--scrolled{
  background-color:#060021 !important;
}
.navbar.nav-green.--scrolled{
  background-color:#0029ff !important;
}